* {
    margin: 0;
    padding: 0;
    
    
}
.navbar {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .navbar-logo img {
    height: 40px;
  }

  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .navbar-links li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-search input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 12px;
    background-color: #e9e9e9;
    margin: 0 1rem;
    flex-grow: 0.8;
    font-size: 16px;
    outline: none;
}
.navbar-search input[type="text"]:focus {
  outline: 3px solid rgb(104, 199, 237);
}
  .navbar-search button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }

  .navbar-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: -100px;
  }

  .navbar-icons li a {
    margin-left: 1rem;
    color: #333;
    text-decoration: none;
  }
  .navbar-logo {
    color: red;
  }