<!-- create_pin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Pin</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
  <style>
    /* styles.css */
    body {
      background-color: #e9e9e9;
    }

    .pin-form-container {
      position: relative;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .pin-form-section {
      display: flex;
      margin-bottom: 20px;
    }

    .pin-form-section .left-section {
      flex: 1;
      padding-right: 20px;
      border-right: 1px solid #ccc;
    }

    .pin-form-section .right-section {
      flex: 1;
      padding-left: 20px;
      padding-right: 0;
    }

    .pin-form-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .pin-form-input {
      width: 100%;
      height: 35px;
      padding: 4px 0;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
    }
    .description {
      height: 100px; /* Increase the height as desired */
    }

    
    .pin-form-select {
      height:none;
      width: 100%;
    }

    .pin-form-submit {
      width: fit-content;
      padding: 10px;
      background-color: #e60023;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: auto;
      /* Add this CSS to move the button to the right */
    }

    .pin-form-submit:hover {
      background-color: #c4001a;
    }
  </style>
</head>

<body>

  {% include 'navbar.html' %}


  <div class="pin-form-container">
    <h1 class="pin-form-title">Create Pin Here</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="pin-form-section">
        <div class="left-section">
          <label for="file-input" id="drag-drop-label">
            <input type="file" id="file-input" style="display: none;">
            {{ pin_form.image }}
            Drag and drop files here or click to upload
          </label>
        </div>


        <script>
          document.addEventListener("DOMContentLoaded", () => {
            const dragDropLabel = document.getElementById("drag-drop-label");
            const fileInput = document.getElementById("file-input");

            dragDropLabel.addEventListener("dragover", (e) => {
              e.preventDefault();
              dragDropLabel.classList.add("drag-over");
            });

            dragDropLabel.addEventListener("dragleave", () => {
              dragDropLabel.classList.remove("drag-over");
            });

            dragDropLabel.addEventListener("drop", (e) => {
              e.preventDefault();
              dragDropLabel.classList.remove("drag-over");
              const files = e.dataTransfer.files;
              fileInput.files = files;
            });

            fileInput.addEventListener("change", () => {
              // Handle selected file(s) here if needed
            });
          });

        </script>

        <div class="right-section">
          <label for="">Board</label>
          <select id="board-select" class="pin-form-input pin-form-select" name="{{ pin_form.board.name }}">
            {% for choice in pin_form.board.field.widget.choices %}
            {% if choice.0 in user_boards %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <br>

          <input class="pin-form-input" type="text" name="{{ pin_form.title.name }}" placeholder="Title">
          <br>

          <input class="pin-form-input" type="text" name="{{ pin_form.catagory.name }}" placeholder="Category">
          <br>
          <textarea class="pin-form-input description" name="{{ pin_form.description.name }}" placeholder="Description"></textarea>
          <br>
          <button class="pin-form-submit" type="submit">Save</button>
        </div>
      </div>
  </div>
  </form>
  </div>
</body>

</html>