<style>
  .modal-overlay {
    display: block;
  }

  .modal-container {
    display: block;
  }

  .modal-content {
    background-color: yellow;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10%;
    background-color: white;
    margin: 10% auto;
    border-radius: 100%;
    border: 2px solid red;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    width: 60vw;
    margin-left: 20%;
    z-index: 5;
  }

  .form-container {
    display: flex;
    align-items: flex-start;
  }

  .left-section {
    flex: 1;
  }

  .image-upload {
    /* height:47vh; */
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }

  .image-upload label {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
  }

  .image-upload input[type="file"] {
    display: none;
  }

  .image-upload::before {
    content: "+";
    display: block;
    font-size: 40px;
    color: #bbb;
    margin-bottom: 10px;
  }

  .image-preview {
    max-width: 100%;
    max-height: 200px;
    /* Adjust the maximum height as needed */
    margin-bottom: 10px;
    display: none;
  }

  .right-section {
    flex: 1;
    padding-left: 20px;
  }

  .form-fields label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  .form-fields select,
  .form-fields input[type="text"],
  .form-fields textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .form-fields textarea {
    height: 80px;
    resize: vertical;
  }

  .save-button {
    background-color: #bd081c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
</style>

<body>
  <!-- <a href="#" id="open-modal">Open Modal</a> -->

  <div class="modal-overlay"></div>
<div class="modal-container">
  <div class="modal-content" style="display: none;">
    <h1>This is Create Pin Page</h1>
    <div class="form-container">
      <div class="left-section">
        <div class="image-upload">
          <label for="id_image">Drag and drop or select an image:</label>
          <input type="file" id="id_image" name="image" accept="image/*">
          <img id="image-preview" class="image-preview" src="#" alt="Image Preview">
        </div>
      </div>
      <div class="right-section">
        <div class="form-fields">
          <label for="id_board">Board:</label>
          <select id="id_board" name="board">
            <option value="board1">Board 1</option>
            <option value="board2">Board 2</option>
            <option value="board3">Board 3</option>
          </select>

          <label for="id_title">Title:</label>
          <input type="text" id="id_title" name="title">

          <label for="id_category">Category:</label>
          <select id="id_category" name="category">
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
          </select>

          <label for="id_description">Description:</label>
          <textarea id="id_description" name="description"></textarea>
        </div>

        <button type="submit" class="save-button">Save</button>
      </div>
    </div>
  </div>
</div>


  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      var modalOverlay = document.querySelector('.modal-overlay');
      var modalContainer = document.querySelector('.modal-container');
      var modalContent = document.querySelector('.modal-content');

      modalOverlay.addEventListener('click', () => {
        modalOverlay.style.display = 'none';
        modalContainer.style.display = 'none';
        modalContent.style.display = 'none';
      });

      document.getElementById("image-input").addEventListener("change", function (event) {
        var reader = new FileReader();
        reader.onload = function () {
          var imagePreview = document.getElementById("image-preview");
          imagePreview.src = reader.result;
          imagePreview.style.display = "block";
        };
        reader.readAsDataURL(event.target.files[0]);
      });

      // Optional: Trigger the modal display on page load
      modalOverlay.style.display = 'block';
      modalContainer.style.display = 'block';
      modalContent.style.display = 'block';
    });
  </script>