{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore </title>
    <link rel="stylesheet" href="{% static 'css/dashboard-card-layout.css' %}">
</head>
<style>
    /* testing image container */
    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        /* display: inline-block; */
    }

    .image-container .dropdown {
        position: absolute;
        top: 10%;
        left: 5%;
        border: none;
        transform: translate(0, -50%);
        /* Adjust the width as needed */
        background-color: transparent;
        color: white;
        border-radius: 5px;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 10;
        /* Ensure the dropdown is positioned above the image */
    }

    .image-container .dropdown select {
        color: white;
        border: none;
        font-size: 16px;
        background-color: transparent;
    }

    .image-container .save-button {
        position: absolute;
        top: 10%;
        right: -10%;
        border-radius: 15px;
        transform: translate(-50%, -50%);
        background-color: red;
        color: rgb(255, 255, 255);
        border: none;
        padding: 10px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 10;
        /* Ensure the save button is positioned above the dropdown */
    }


    .image-container:hover .save-button,
    .image-container:hover .dropdown {
        opacity: 1;
    }

    .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        /* Adjust the transparency as needed */
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        /* Allow click events to pass through */
    }

    .image-container:hover::before {
        opacity: 1;
    }


    /* css for push message when click pon save in each pin */
    #message-container {
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        border-radius: 40px;
        font-size: 20px;
        padding: 10px 20px;
        font-size: 16px;
        z-index: 100;
        pointer-events: none;
    }

    .show-message {
        opacity: 1;
        pointer-events: auto;
    }

    .hide-message {
        display: none;
    }
</style>

<body>
    {% include 'navbar.html' %}


    <!-- pin container start -->

    <div class="pin_container">
        {% for pin in pins %}

        <div class="card {% cycle 'card_small' 'card_medium' 'card_large' %}">

            <!-- image container -->
            <div class="image-container">
                <!-- image -->
                <a href="{% url 'pin' pin.id %}">
                    <img class="pin" src="{{ pin.image.url }}" style="cursor: zoom-in;" alt="Pin Image">
                </a>
                <!-- dropdown -->
                <div class="dropdown">
                    <select>
                        {% for board in user_boards %}
                        <option value="{{ board.id }}">{{ board.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- red save button -->
                <button class="save-button">Save</button>


            </div>
        </div>

        {% endfor %}
    </div>

    <div id="message-container" class="hide-message">
        <span id="message-text"></span>
    </div>
    <script>
        const saveButtons = document.querySelectorAll('.save-button');
        const messageContainer = document.getElementById('message-container');

        saveButtons.forEach((saveButton) => {
            saveButton.addEventListener('click', () => {
                // Show the message
                messageContainer.textContent = 'Pin saved in the board';
                messageContainer.classList.remove('hide-message');
                setTimeout(() => {
                    messageContainer.classList.add('hide-message');
                }, 1500);
            });
        });

    </script>

    <!-- pin container end -->



</body>

</html>