{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/dashboard-nav.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard-user-dropdown.css' %}">


<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><i class="fa fa-brands fa-pinterest navbar-logo"
                style="font-size: 1.7rem; margin-right: 0.5rem;"></i></a>
    </div>
    <ul class="navbar-links">
        <li><a href="{% url 'dashboard' %}">Home</a></li>
        <li><a href="{% url 'explore' %}">Explore</a></li>
        <li><a href="{% url 'create_pin' %}" id="">Create Pin</a></li>
        <li><a href="{% url 'create_board' %}" id="">Create Board</a></li>
    </ul>
    <div class="navbar-search">
        <form action="{% url 'search' %}" method="GET">
            <input type="text" placeholder="Search" name='query' style="width: 600px;">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <ul class="navbar-icons">
        <li><a href="#"><i class="fas fa-bell"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
        <i class="fas fa-user user-icon" onclick="toggleMenu(event)"></i>
    </ul>

    <!-- navbar end -->


    <!-- user menu -->
    <div class="user-menu-container" id="user-menu-container">
        <ul class="menu">
            <li>{{username}}</li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul>
    </div>
    <!-- user menu end -->

</nav>

<script src="{% static 'js/dashboard-user-dropdown.js' %}"></script>