<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background-color: #e9e9e9;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            margin-top: 5rem;
            position: fixed;
            background-color: white;
            width: 1000px;
            /* Increase the width */
            height: 600px;
            /* Increase the height */
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            font-family: Helvetica, sans-serif;
            border-radius: 20px;
        }

        .left-section {
            width: 50%;
            padding: 20px;
            display: flex;
            justify-content: center;
            position: relative;
        }

        .left-section img {
            width: 90%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }

        .right-section {
            width: 50%;
            padding: 20px;
            overflow-y: scroll;
            /* Make the right section scrollable */
        }

        .right-section h2 {
            margin-top: 0;
            /* Remove default margin for the title */
        }

        .host-name {
            font-size: 1rem;
            font-weight: bold;
        }

        .host-follow {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .btn-follow-unfollow {

            border: none;
            outline: none;
            border-radius: 20px;
            padding: 15px 10px;
            font-size: 1rem;
        }

        #follow-button {
            background-color: #efeeee;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            color: black;
            cursor: pointer;
        }

        #unfollow-button {
            background-color: black;
            color: white;
            cursor: pointer;
        }

        .right-top-section {
            display: flex;
            justify-content: space-between;
        }

        .like-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .dropdown-section {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            margin-right: 1rem;
        }

        .dropdown-section .save-button {
            background-color: red;
            border-radius: 20px;
            color: rgb(255, 255, 255);
            border: none;
            padding: 10px 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
        }

        .dropdown-section .save-button:hover {
            background-color: rgb(202, 15, 15);
        }

        .dropdown-section select {
            border: none;
            outline: none;
            text-align: left;
            font-size: 1rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            border-bottom: 2px solid rgb(207, 206, 206);

        }

        /* css for like button */
        .heart-icon {
            font-size: 1.5rem;
            cursor: pointer;
            user-select: none;
        }

        .like-section .fa-solid {
            color: red;
        }

        .comments-section {
            margin-top: 6rem;
        }

        .comment {
            margin-top: 1rem;
            margin-left: 1rem;
        }
        /* css for comment input area */
        .comment-input-area {
            display: flex;
            margin-top: 45%;
            /* justify-content: center; */
            align-items: center;
            gap: 1rem;
        }

        .comment-input {
            resize: none;
            background-color: #e9e9e9;
            border: none;
            border-radius: 20px;
            padding: 0 1rem;
            width: 70%;
            height: 2.5rem;

        }

        .btn-send {
            background-color: red;
            border: none;
            border-radius: 100%;
            padding: 7px 10px;
            color: white;
            cursor: pointer;
        }

        .btn-send:hover {
            background-color: rgb(175, 8, 8);
        }
    </style>
</head>

<body>

    {% include 'navbar.html' %}


    <body>
        <div class="container">
            <div class="card">
                <div class="left-section">
                    <img src="{{pin_detail.image.url}}" alt="Demo Image">
                </div>
                <div class="right-section">
                    <div class="right-top-section">
                        <div class="like-section">
                            <i class="heart-icon fa-regular fa-heart" onclick="toggleHeart(this)"></i>
                            <p class="show-likes-count" style="font-size: 1rem;">{{likes}} likes</p>
                        </div>
                        <div class="dropdown-section">

                            <select>
                                {% for board in user_boards %}
                                <option value="{{ board.id }}">{{ board.name }}</option>
                                {% endfor %}
                            </select>
                            <button class="save-button">Save</button>
                        </div>
                    </div>


                    <h2 style="margin-top: 1rem;">{{pin_detail.title}}</h2>
                    <div class="host-follow">

                        <div class="host-name"><i class="fa-solid fa-circle-user"
                                style="font-size: 1.5rem; margin-right: 6px;"></i>{{host}}</div>
                        <div id="follow-unfollow-button">
                            {% if isHostFollowed %}
                            <button class="btn-follow-unfollow" id="unfollow-button"
                                data-action="unfollow">Following</button>
                            <button class="btn-follow-unfollow" id="follow-button" data-action="follow"
                                style="display: none;">Follow</button>
                            {% else %}
                            <button class="btn-follow-unfollow" id="follow-button" data-action="follow">Follow</button>
                            <button class="btn-follow-unfollow" id="unfollow-button" data-action="unfollow"
                                style="display: none;">Following</button>
                            {% endif %}
                        </div>
                    </div>

                    <h3>Description</h3>
                    <p style="margin-top: 0.5rem;">
                        {{pin_detail.description}}
                    </p>


                    <div class="comments-section">
                        <h3>Comments</h3>
                        {% for comment in comments %}
                        <div class="comment">
                            <p style="margin-bottom: 0.5rem;"><strong>{{ comment.0 }}</strong></p>
                            <p style="margin-left: 0.5rem;">{{ comment.1 }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class=comment-input-area>
                        <input class="comment-input" type="text" id="comment" name="comment" placeholder="Add a comment"
                            required></input>
                        <button type="submit" class="btn-send">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>


                </div>
            </div>
        </div>

    </body>




    <script>

        // srript for follow unfollow button
        $(document).ready(function () {
            // Attach click event handler to the follow/unfollow buttons
            $('#follow-button, #unfollow-button').click(function () {
                var action = $(this).data('action');
                var host = "{{ host }}";
                var url = "{% url 'follow' %}";

                if (action === 'unfollow') {
                    url = "{% url 'unfollow' %}";  // Use the unfollow URL if action is unfollow
                }

                // Make an AJAX request to the server
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'action': action,
                        'pin_host': host,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        // Update the button dynamically based on the action performed
                        if (action === 'follow') {
                            console.log("follow working");
                            $('#follow-button').hide();
                            $('#unfollow-button').show();
                        } else if (action === 'unfollow') {
                            console.log("unfollow working");
                            $('#follow-button').show();
                            $('#unfollow-button').hide();
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });
        });


        // script for likes count
        let pin_id = '{{pin_detail.id}}';
        const heartIcon = document.querySelector('.heart-icon');
        let isUserLiked = '{{isUserLiked}}'

        if (isUserLiked === 'True') {
            heartIcon.classList.remove("fa-regular");
            heartIcon.classList.add("fa-solid");
        }
        else {
            heartIcon.classList.remove("fa-solid");
            heartIcon.classList.add("fa-regular");
        }



        const likesCountElement = document.querySelector(".show-likes-count");
        function toggleHeart(icon) {
            if (icon.classList.contains("fa-regular")) {
                icon.classList.remove("fa-regular");
                icon.classList.add("fa-solid");
                likeItem();
            } else {
                icon.classList.remove("fa-solid");
                icon.classList.add("fa-regular");
                dislikeItem();
            }
        }

        function likeItem() {

            $.ajax({
                type: 'POST',
                url: "{% url 'like'%}",
                data: {
                    'pin_id': pin_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    likesCountElement.textContent = response.likes + " likes";
                },
                error: function (error) {
                    console.error('Error liking the item:', error);
                }
            });
        }


        function dislikeItem() {
            $.ajax({
                type: 'POST',
                url: "{% url 'dislike'%}",
                data: {
                    'pin_id': pin_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    likesCountElement.textContent = response.likes + " likes";
                },
                error: function (error) {
                    console.error('Error disliking the item:', error);
                }
            });
        }



        // script for comemnt api fetch
        const commentInput = document.getElementById('comment');
        const submitButton = document.querySelector('.btn-send');

        submitButton.addEventListener('click', (e) => {
            e.preventDefault();

            // Get the input value
            const comment = commentInput.value;

            // Validate the comment
            if (!comment.trim()) {
                // Comment is empty, do not send the request
                return;
            }


            // Send the data to the API (replace API_URL with the actual URL)
            fetch("{% url 'comment' %}", {
                method: 'POST',
                body: JSON.stringify({ 'comment': comment, 'pin_id': pin_id }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Redirect to the dashboard page
                        window.location.href = "{% url 'pin' id=pin_detail.id %}";
                    } else {
                        console.error('Error:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>



</body>

</html>